*{
    background-color:cadetblue;
}
.login-page{
    background-color: beige;
    border-radius: 10px;
    border: 2px solid greenyellow;
}
p{
    color: aqua;
    font-family: 'Courier New', Courier, monospace;
}